@mixin noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#onetrust-consent-sdk, .hide-for-small-only {
    display: none !important;
}

#pocketlibrary {
    &, & * {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        -webkit-tap-highlight-color: transparent;
    }
    svg {
        overflow: visible;
    }
    --_rem: 20px;
    --_bg-main: #232323;
    --_bg-hover: #333333;
    --_accent-main: #e64141;
    --_progress-bar: 0deg;

    display: flex;
    position: fixed;
    left: calc(1 * var(--_rem));
    bottom: calc(1 * var(--_rem));
    z-index: 2147483648;
    gap: calc(.5 * var(--_rem));
    font-size: calc(.8 * var(--_rem));

    @include noselect();

    .pl-settings, .pl-refresh {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(2 * var(--_rem));
            width: calc(2 * var(--_rem));
            line-height: 1;
        }
    }
    .pl-prepare {
        background-image: conic-gradient(var(--_accent-main) var(--_progress-bar), var(--_bg-main) var(--_progress-bar)) !important;
        a {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(2 * var(--_rem));
            min-width: calc(2 * var(--_rem));
            width: fit-content;
            gap: calc(.5 * var(--_rem));
            line-height: 1;
            padding: 0 calc(.6 * var(--_rem));
        }
    }
    .pl-preview, .pl-print {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(2 * var(--_rem));
            min-width: calc(2 * var(--_rem));
            width: fit-content;
            gap: calc(.5 * var(--_rem));
            line-height: 1;
            padding: 0 calc(.6 * var(--_rem));
        }
    }
    .pl-settings, .pl-prepare, .pl-preview, .pl-refresh, .pl-print {
        &, a {
            cursor: pointer;
            color: inherit;
        }
        padding: calc(.15 * var(--_rem));
        background: var(--_bg-main);
        border-radius: calc(2.3 * var(--_rem));
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        svg {
            height: calc(1 * var(--_rem));
            width: calc(1 * var(--_rem));
        }
        cloak {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: calc(.5 * var(--_rem));
            color: #ffffff;
            background: var(--_bg-main);
            border-radius: calc(2 * var(--_rem));
        }
        &:hover, &:focus {
            cloak {
                color: var(--_accent-main);
                background: var(--_bg-hover);
            }
        }
        &:active {
            a {
                transform: translateY(3px);
            }
        }
    }

    &:has(.pl-preview a[href]) {
        .pl-prepare {
            display: none;
        }
    }

    &:has(.pl-preview a:not([href])) {
        .pl-preview, .pl-refresh {
            display: none;
        }
    }
}

@media print {
    #pocketlibrary {
        display: none !important;
    }
}